a {
    text-decoration: none;
}

body {
    background-color: var(--main-color);
    font-family: 'Cairo', sans-serif;
}

/* start header */
.container .header {
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, var(--main1-color), var(--main2-color), var(--main3-color), var(--main4-color));
}

.container .header img {
    width: 150px;
    position: absolute;
    left: 5px;
    top: -10px;
}

.container .header i {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.container .header i:hover {
    background-color: var(--text-color);
    color: var(--hh);
}

/* end header */
.container .cont {
    display: flex;
    height: 100%;
}

/* start sidepar */
.container .cont .sidepar {
    background: linear-gradient(to top, var(--main1-color), var(--main2-color), var(--main3-color), var(--main4-color));
    flex-basis: 15%;
    /* position: relative; */
    display: block;
}

.container .cont .sidepar .gg {
    cursor: pointer;
    position: absolute;
    right: 129px;
    top: 61px;
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 5px;
    transition: 0.3s;
}

.container .cont .sidepar .gg:hover {
    background-color: var(--text-color);
    color: var(--hh);
}

.container .cont .sidepar .dds {
    margin-top: 50px;
}

.container .cont .sidepar .e {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 20px;
    margin-right: 30px;
    transition: 0.5s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 7px;
    margin-left: 47px;
    cursor: pointer;
}

.container .cont .sidepar .e:hover,
.container .cont .sidepar .e.active {
    background-color: var(--text-color);
    margin-right: 30px;
    margin-left: 0px;
}

.container .cont .sidepar .pp {
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 40px;
    padding: 5px;
}

.container .cont .sidepar .pp:hover,
.container .cont .sidepar .pp.active {
    background-color: var(--text-color);
    color: var(--hh);
    margin-right: 20px;
    margin-left: 40px;
    width: max-content;
    text-align: center;
}

.container .cont .sidepar .e:hover i,
.container .cont .sidepar .e:hover p,
.container .cont .sidepar .e i.active,
.container .cont .sidepar .e p.active {
    color: var(--hh);
}

.container .cont .sidepar .e i {
    color: var(--text-color);
    font-size: 30px;
    margin-left: 20px;
}

.container .cont .sidepar .pp i {
    margin-left: 0;
}

.container .cont .sidepar .e p {
    color: var(--text-color);
    font-size: 20px;
    width: max-content;
}
/* end sidepar */

.container .cont .contrr {
    background-color: var(--if-color);
    flex-basis: 85%;
    height: 90vh;
}

.container .cont .contrr iframe {
    width: 100%;
    height: 100%;
}
.fg{
    position: absolute;
    right: 160px;
    top: 61px;
    color: var(--text-color);
    font-size: 30px;
    border-radius: 20px;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
    display: none;
}

@media (max-width:1024px) {
    /* .container .cont {
        display: block;
    } */
    .fg{
        display: block;
    }

    .container .sidepar {
    position: absolute;
    top: 60px;
    right: 0px;
    height: 95vh;
    display: none;
    }

    .ccd {
        position: absolute;
        bottom: 0px;
        z-index: 1000;
        background-color: var(--hh);
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .container .ddss {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 40px 0;

    }

    .container .ddss .e1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 113px;
        transition: 0.5s;
        border-radius: 20px;
    }

    .container .ddss .e1:hover,
    .container .ddss .e1.active {
        background-color: var(--text-color);
    }

    .container .ddss .e1:hover i,
    .container .ddss .e1:hover p,
    .container .ddss .e1 i.active,
    .container .ddss .e1 p.active {
        color: var(--hh);
    }

    .container .ddss .e1 i {
        color: var(--text-color);
        font-size: 20px;
    }

    .container .ddss .e1 p {
        color: var(--text-color);
        font-size: 13px;
    }

    .container .cont .contrr {
        margin-left: 0px;
        flex-basis: 100%;
    }

    .container .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .header img {
        position: relative;
        top: 2px;
    }

    .container .gg {
        display: none;
    }
}

@media (max-width:700px) {
    .container .ddss .e1 {
        width: 80px;
    }

    .container .ddss .e1 i {
        color: var(--text-color);
        font-size: 13px;
    }

    .container .ddss .e1 p {
        color: var(--text-color);
        font-size: 10px;
    }

    .container .ddss {
        padding: 5px 5px 0 10px;
    }

    .container .cont .contrr {
        height: 95vh;
    }
}